:root {
  --color1: #ffe2d1;
  --color1-o: #b69a8a;

  --color2: #e1f0c4;
  --color2-o: #9aac77;

  --color3: #6bab90;
  --color3-o: #4a8069;

  --color4: #55917f;
  --color4-o: #3e685b;

  --color5: #5e4c5a;
  --color5-o: #3d323b;
}

.text-advice-card-body {
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.card-text {
  color: rgb(19, 19, 19);
}

.card-template-1 {
  background-color: var(--color1);
  color: rgb(19, 19, 19);
}

.card-template-2 {
  background-color: var(--color2);
  color: rgb(19, 19, 19);
}

.card-template-3 {
  background-color: var(--color3);
  color: rgb(19, 19, 19);
}

.row-date-likebtn {
  max-height: 25px;
  height: 25px;
  padding-bottom: 3px;
}

.like-btn {
  max-height: 20px;
  padding-top: 3px;
}

.menu-btn {
  height: 30px;
}

.col-date-like-btn {
  height: inherit;
  margin-bottom: 10px;
}

.like-tag {
  padding-left: 7px;
}
/*MOOOOOOOOOOOOOOVIE*/
.img-movie-body {
  height: 13em;
  width: 10em;
}

.img-movie-col {
  padding: 0;
}

.movie-plot-col {
  padding-left: 0;
}

.movie-advice-body {
  padding: 0;
  padding-left: 13px;
  padding-right: 10px;
  width: inherit;
}

.moviecard {
  width: 350px;
}

.movie-advice-card-body {
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.movie-title {
  font-size: 16px;
}

.movie-plot {
  font-size: 13px;
}

/*POOOOOOOOOOOEM*/

.poem-advice-body {
  padding: 0;
  padding-left: 14px;
  padding-right: 10px;
}

.poem-body {
  padding-left: 5px;
  padding-bottom: 10px;
}

.poem-advice-card-body {
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.poem-line {
  margin: 0;
  font-size: 12px;
}
