.text-advice-card-body {
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.row-date-likebtn {
  max-height: 25px;
  height: 25px;
  padding-bottom: 3px;
}

.like-btn {
  max-height: 20px;
  margin-bottom: 3px;
}

.col-date-like-btn {
  height: inherit;
}

/*MOOOOOOOOOOOOOOVIE*/
.img-movie-body {
  height: 13em;
  width: 10em;
}

.img-movie-col {
  padding: 0;
}

.movie-advice-body {
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
  width: 325px;
}

.movie-advice-card-body {
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.movie-title {
  font-size: 16px;
}

.movie-plot {
  font-size: 13px;
}

/*POOOOOOOOOOOEM*/

.poem-advice-body {
  padding: 0;
  padding-left: 14px;
  padding-right: 10px;
}

.poem-body {
  padding-left: 5px;
  padding-bottom: 10px;
}

.poem-advice-card-body {
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.poem-line {
  margin: 0;
  font-size: 12px;
}
